body{
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
}

.container{
    display: grid;
    grid-template-columns: 500px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 5px solid black;
    max-width: 300px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    font-size: 70px;
    cursor: pointer;
}

.input{
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(87, 87, 87);
    text-transform: uppercase;
    font-size: 14px;
}

.startBtn{
    padding: 10px 15px;
    border: none;
    background-color: rgb(57, 57, 199);
    color: white;
    border-radius: 15px;
}
.startBtn:disabled{
    background-color: rgb(109, 109, 179);
}